<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.offline.dao.mapper.RoleMapper">
	
	<select id="queryAll" resultType="com.lazy.offline.model.Role">
				SELECT id,role,remark
				FROM cpsx_sys_dim_role 
				ORDER BY id
	</select>
	
	<select id="query" resultType="com.lazy.offline.model.Role">
				SELECT id,role,remark
				FROM cpsx_sys_dim_role 
				ORDER BY id
				<include refid="MYSQL.pagination" />
	</select>
	
	<select id="getById" resultType="com.lazy.offline.model.Role">
				SELECT id,role,remark
				FROM cpsx_sys_dim_role
				WHERE id=#{id}
	</select>
	
	<select id="queryIdByRole" resultType="java.lang.Integer">
			SELECT id
				FROM cpsx_sys_dim_role
				WHERE role=#{role}
				AND remark=#{remark}
	
	</select>
	
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id">
		INSERT INTO cpsx_sys_dim_role (
			ROLE,
			REMARK,
			CREATE_TIME
		)
		VALUES
		(
			#{role}, 
			#{remark},
			now()
		)
	</insert>
	
	
</mapper>
