<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.offline.dao.mapper.SystemUserMapper">

	<sql id="queryCondition">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="condition != null">
				<if test="condition.userName!=null and condition.userName != ''">
					AND u.user_name= #{condition.userName,jdbcType=VARCHAR}
				</if>
				<if test="condition.email!=null and condition.email != ''">
					AND u.email = #{condition.email,jdbcType=VARCHAR}
				</if>
				<if test="condition.status != null and condition.status != ''">
					AND u.status  = #{condition.status,jdbcType=VARCHAR}
				</if>
			</if>
		</trim>
	</sql>
	
	<select id="selectOneUser" resultType="com.lazy.offline.model.User">
				SELECT u.id,u.email,u.password,u.create_time,u.user_name,r.remark,r.role,r.id as roleId 
				FROM cpsx_sys_dim_user u
				LEFT JOIN	cpsx_sys_dim_role r on u.role_name = r.role
				WHERE u.user_name=#{userName}
	</select>
	
	<sql id="columns">
		u.id,u.email,u.password,u.create_time as createTime,u.user_name AS userName,u.user_type AS userType,
		u.real_name AS realName,u.account_type AS accountType,u.mob_tel AS mobTel,u.fix_tel AS fixTel,u.qq,u.address,
		u.zip_code AS zipCode,u.introduction,u.role_name AS roleName
	</sql>
	
	<select id="query" resultType="com.lazy.offline.model.User">
		SELECT 
		<include refid="columns" />
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_dim_role r on u.role_name = r.role 
		<include refid="queryCondition" />
		ORDER BY u.id DESC
		<include refid="MYSQL.pagination" />
	</select>
	
	<select id="getById" resultType="com.lazy.offline.model.User">
		SELECT <include refid="columns" />
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_dim_role r on u.role_name = r.role 
		WHERE u.id = #{id}
		ORDER BY u.id DESC
	</select>
	
	<update id="updateById">
		UPDATE CPSX_SYS_DIM_USER 
		SET
			<if test="i.email != null and i.email != ''">
				EMAIL=#{i.email},
			</if>
			<if test="i.userName != null and i.userName != ''">
				USER_NAME=#{i.userName},
			</if>
			<if test="i.realName!= null and i.realName!= ''">
				REAL_NAME=#{i.realName},
			</if>
			<if test="i.roleName!= null and i.roleName!= ''">
				ROLE_NAME=#{i.roleName},
			</if>
			<if test="i.accountType!= null and i.accountType!= ''">
				ACCOUNT_TYPE=#{i.accountType},
			</if>
			<if test="i.mobTel!= null and i.mobTel!= ''">
				MOB_TEL=#{i.mobTel},
			</if>
			<if test="i.fixTel!= null and i.fixTel!= ''">
				FIX_TEL=#{i.fixTel},
			</if>
			<if test="i.qq!= null and i.qq!= ''">
				QQ=#{i.qq},
			</if>
			<if test="i.address!= null and i.address!= ''">
				ADDRESS=#{i.address},
			</if>
			<if test="i.zipCode!= null and i.zipCode!= ''">
				ZIPCODE=#{i.zipCode},
			</if>
			<if test="i.introduction!= null and i.introduction!= ''">
				INTRODUCTION=#{i.introduction},
			</if>
			<if test="i.status != null and i.status != ''">
				STATUS=#{i.status},
			</if>
			UPDATE_TIME=now()
		WHERE id=#{id}
	</update>
	
	<select id="selectEmailExist" resultType="java.lang.Integer" >
		SELECT COUNT(1)
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_dim_role r on u.role_name = r.role
		WHERE u.email = #{q.email}
	</select>
	
	<select id="selectUserIdByEmail" resultType="java.lang.Integer">
		SELECT u.id
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_dim_role r on u.role_name = r.role 
		WHERE u.email = #{condition.email}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id">
		INSERT INTO CPSX_SYS_DIM_USER (
			EMAIL,
			USER_NAME,
			USER_TYPE,
			REAL_NAME,
			ROLE_NAME,
			ACCOUNT_TYPE,
			MOB_TEL,
			FIX_TEL,
			QQ,
			ADDRESS,
			ZIPCODE,
			INTRODUCTION,
			STATUS,
			CREATE_TIME
		)
		VALUES
		(
			#{condition.email}, 
			#{condition.userName},
			#{condition.userType},
			#{condition.realName},
			#{condition.roleName}, 
			#{condition.accountType}, 
			#{condition.mobTel},
			#{condition.fixTel},
			#{condition.qq},
			#{condition.address},
			#{condition.zipCode},
			#{condition.introduction},
			#{condition.status},
			now()
		)
	</insert>
	
	<update id="deleteById">
		UPDATE cpsx_sys_dim_user
		SET status=0
		WHERE id = #{id}
	</update>
	
	<update id="effectiveById">
		UPDATE cpsx_sys_dim_user
		SET status=1
		WHERE id = #{id}
	</update>
	
</mapper>