<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lazy.offline.dao.mapper.SystemUserMapper">

	<sql id="queryCondition">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="condition != null">
				<if test="condition.userName!=null and condition.userName != ''">
					AND u.user_name= #{condition.userName,jdbcType=VARCHAR}
				</if>
				<if test="condition.email!=null and condition.email != ''">
					AND u.email = #{condition.email,jdbcType=VARCHAR}
				</if>
				<if test="condition.status != null and condition.status != ''">
					AND u.status  = #{condition.status,jdbcType=VARCHAR}
				</if>
			</if>
		</trim>
	</sql>
	
	<select id="selectOneUser" resultType="com.lazy.offline.model.User">
				SELECT u.id,u.email,u.password,u.create_time,u.user_name,r.remark,r.role,r.id as roleId 
				FROM cpsx_sys_dim_user u
				LEFT JOIN cpsx_sys_map_user_role ur on u.id=ur.user_id
				LEFT JOIN	cpsx_sys_dim_role r on r.id = ur.role_id
				WHERE u.user_name=#{userName}
	</select>
	
	<sql id="columns">
		u.id,u.email,u.password,u.create_time as createTime,u.user_name AS userName,u.user_type AS userType,
		u.real_name AS realName,u.account_type AS accountType,u.mob_tel AS mobTel,u.fix_tel AS fixTel,u.qq,u.address,
		u.zip_code AS zipCode,u.introduction,r.role AS role,r. ID AS roleNumbers,r.remark AS roleName
	</sql>
	
	<select id="query" resultType="com.lazy.offline.model.User">
		SELECT 
		<include refid="columns" />
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_map_user_role ur  on u.id=ur.user_id 
		LEFT JOIN cpsx_sys_dim_role r on ur.role_id= r.id 
		<include refid="queryCondition" />
		ORDER BY u.id DESC
		<include refid="MYSQL.pagination" />
	</select>
	
	<select id="getById" resultType="com.lazy.offline.model.User">
		SELECT <include refid="columns" />
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_map_user_role ur  on u.id=ur.user_id 
		LEFT JOIN cpsx_sys_dim_role r on ur.role_id= r.id 
		WHERE u.id = #{condition}
		ORDER BY u.id DESC
	</select>
	
	<select id="selectEmailExist" resultType="java.lang.Integer" >
		SELECT COUNT(1)
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_map_user_role ur  on u.id=ur.user_id 
		LEFT JOIN cpsx_sys_dim_role r on ur.role_id= r.id 
		WHERE u.email = #{condition.email}
	</select>
	
	<select id="selectUserIdByEmail" resultType="java.lang.Integer">
		SELECT u.id
		FROM cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_map_user_role ur  on u.id=ur.user_id 
		LEFT JOIN cpsx_sys_dim_role r on ur.role_id= r.id 
		WHERE u.email = #{condition.email}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id">
		INSERT INTO CPSX_SYS_DIM_USER (
			EMAIL,
			USER_NAME,
			USER_TYPE,
			REAL_NAME,
			ACCOUNT_TYPE,
			MOB_TEL,
			FIX_TEL,
			QQ,
			ADDRESS,
			ZIPCODE,
			INTRODUCTION,
			STATUS,
			CREATE_TIME
		)
		VALUES
		(
			#{condition.email}, 
			#{condition.userName},
			#{condition.userType},
			#{condition.realName}, 
			#{condition.accountType}, 
			#{condition.mobTel},
			#{condition.fixTel},
			#{condition.qq},
			#{condition.address},
			#{condition.zipCode},
			#{condition.introduction},
			#{condition.status},
			now()
		)
	</insert>
	
	<delete id="deleteById" resultType="java.lang.Integer">
		UPDATE cpsx_sys_dim_user u 
		LEFT JOIN cpsx_sys_map_user_role ur  on u.id=ur.user_id 
		LEFT JOIN cpsx_sys_dim_role r on ur.role_id= r.id 
		WHERE u.email = #{condition.email}
	</delete>
	
	
	
</mapper>