
#u3822 {
  position:absolute;
  left:171px;
  top:1945px;
  width:1005px;
  height:10px;
}
#u3822_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3822_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3822_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3823 {
  position:absolute;
  left:177px;
  top:1900px;
  width:12px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3825 {
  position:absolute;
  left:193px;
  top:1905px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u3826 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3827 {
  position:absolute;
  left:193px;
  top:1925px;
  width:170px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u3829 {
  position:absolute;
  left:171px;
  top:1955px;
  width:1005px;
  height:10px;
}
#u3829_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3829_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3829_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3830 {
  position:absolute;
  left:165px;
  top:1960px;
  width:10px;
  height:50px;
}
#u3830_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3830_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3830_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3831 {
  position:absolute;
  left:1171px;
  top:1960px;
  width:10px;
  height:50px;
}
#u3831_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3831_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3831_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3832 {
  position:absolute;
  left:171px;
  top:2005px;
  width:1005px;
  height:10px;
}
#u3832_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3832_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3832_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3833 {
  position:absolute;
  left:177px;
  top:1960px;
  width:6px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:24px;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u3835 {
  position:absolute;
  left:193px;
  top:1965px;
  width:105px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u3837 {
  position:absolute;
  left:193px;
  top:1985px;
  width:404px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:20px;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  white-space:nowrap;
}
#u3839 {
  position:absolute;
  left:171px;
  top:2015px;
  width:1005px;
  height:10px;
}
#u3839_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3839_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3839_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3840 {
  position:absolute;
  left:165px;
  top:2020px;
  width:10px;
  height:70px;
}
#u3840_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3840_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u3840_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u3841 {
  position:absolute;
  left:1171px;
  top:2020px;
  width:10px;
  height:70px;
}
#u3841_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3841_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u3841_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u3842 {
  position:absolute;
  left:171px;
  top:2085px;
  width:1005px;
  height:10px;
}
#u3842_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3842_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3842_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3843 {
  position:absolute;
  left:173px;
  top:2020px;
  width:18px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u3845 {
  position:absolute;
  left:193px;
  top:2025px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u3846 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3847 {
  position:absolute;
  left:193px;
  top:2045px;
  width:593px;
  height:40px;
  color:#666666;
  line-height:20px;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:40px;
}
#u3848 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  white-space:nowrap;
}
#u3849 {
  position:absolute;
  left:171px;
  top:2095px;
  width:1005px;
  height:10px;
}
#u3849_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3849_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3849_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3850 {
  position:absolute;
  left:165px;
  top:2100px;
  width:10px;
  height:50px;
}
#u3850_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3850_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3850_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3851 {
  position:absolute;
  left:1171px;
  top:2100px;
  width:10px;
  height:50px;
}
#u3851_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3851_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3851_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3852 {
  position:absolute;
  left:171px;
  top:2145px;
  width:1005px;
  height:10px;
}
#u3852_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3852_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3852_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3853 {
  position:absolute;
  left:173px;
  top:2100px;
  width:13px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3855 {
  position:absolute;
  left:193px;
  top:2105px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u3856 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3857 {
  position:absolute;
  left:193px;
  top:2125px;
  width:204px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u3859 {
  position:absolute;
  left:171px;
  top:2155px;
  width:1005px;
  height:10px;
}
#u3859_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3859_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3859_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3860 {
  position:absolute;
  left:165px;
  top:2160px;
  width:10px;
  height:50px;
}
#u3860_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3860_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3860_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3861 {
  position:absolute;
  left:1171px;
  top:2160px;
  width:10px;
  height:50px;
}
#u3861_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3861_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3861_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3862 {
  position:absolute;
  left:171px;
  top:2205px;
  width:1005px;
  height:10px;
}
#u3862_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3862_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3862_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3863 {
  position:absolute;
  left:173px;
  top:2160px;
  width:13px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3865 {
  position:absolute;
  left:193px;
  top:2165px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3867 {
  position:absolute;
  left:193px;
  top:2185px;
  width:232px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:20px;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u3869 {
  position:absolute;
  left:171px;
  top:2215px;
  width:1005px;
  height:10px;
}
#u3869_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3869_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3869_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3870 {
  position:absolute;
  left:165px;
  top:2220px;
  width:10px;
  height:90px;
}
#u3870_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3870_end {
  position:absolute;
  left:-5px;
  top:73px;
  width:20px;
  height:18px;
}
#u3870_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:90px;
}
#u3871 {
  position:absolute;
  left:1171px;
  top:2220px;
  width:10px;
  height:90px;
}
#u3871_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3871_end {
  position:absolute;
  left:-5px;
  top:73px;
  width:20px;
  height:18px;
}
#u3871_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:90px;
}
#u3872 {
  position:absolute;
  left:171px;
  top:2305px;
  width:1005px;
  height:10px;
}
#u3872_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3872_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3872_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3873 {
  position:absolute;
  left:173px;
  top:2220px;
  width:13px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3875 {
  position:absolute;
  left:193px;
  top:2225px;
  width:105px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u3877 {
  position:absolute;
  left:193px;
  top:2245px;
  width:580px;
  height:60px;
  color:#666666;
  line-height:20px;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:60px;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  white-space:nowrap;
}
#u3879 {
  position:absolute;
  left:171px;
  top:2315px;
  width:1005px;
  height:10px;
}
#u3879_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3879_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3879_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3880 {
  position:absolute;
  left:165px;
  top:2320px;
  width:10px;
  height:50px;
}
#u3880_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3880_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3880_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3881 {
  position:absolute;
  left:1171px;
  top:2320px;
  width:10px;
  height:50px;
}
#u3881_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3881_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3881_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3882 {
  position:absolute;
  left:171px;
  top:2365px;
  width:1005px;
  height:10px;
}
#u3882_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3882_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3882_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3883 {
  position:absolute;
  left:173px;
  top:2320px;
  width:13px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3885 {
  position:absolute;
  left:193px;
  top:2325px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u3887 {
  position:absolute;
  left:193px;
  top:2345px;
  width:222px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:20px;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u3889 {
  position:absolute;
  left:171px;
  top:2375px;
  width:1005px;
  height:10px;
}
#u3889_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3889_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3889_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3890 {
  position:absolute;
  left:165px;
  top:2380px;
  width:10px;
  height:50px;
}
#u3890_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3890_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3890_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3891 {
  position:absolute;
  left:1171px;
  top:2380px;
  width:10px;
  height:50px;
}
#u3891_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3891_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3891_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3892 {
  position:absolute;
  left:171px;
  top:2425px;
  width:1005px;
  height:10px;
}
#u3892_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3892_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3892_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3893 {
  position:absolute;
  left:175px;
  top:2380px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:193px;
  top:2385px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3897 {
  position:absolute;
  left:193px;
  top:2405px;
  width:131px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u3899 {
  position:absolute;
  left:171px;
  top:2435px;
  width:1005px;
  height:10px;
}
#u3899_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3899_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3899_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3900 {
  position:absolute;
  left:165px;
  top:2440px;
  width:10px;
  height:50px;
}
#u3900_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3900_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3900_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3901 {
  position:absolute;
  left:1171px;
  top:2440px;
  width:10px;
  height:50px;
}
#u3901_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3901_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3901_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3902 {
  position:absolute;
  left:171px;
  top:2485px;
  width:1005px;
  height:10px;
}
#u3902_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3902_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3902_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3903 {
  position:absolute;
  left:175px;
  top:2440px;
  width:12px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3905 {
  position:absolute;
  left:193px;
  top:2445px;
  width:86px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u3907 {
  position:absolute;
  left:193px;
  top:2465px;
  width:339px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:20px;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u3909 {
  position:absolute;
  left:169px;
  top:2495px;
  width:1005px;
  height:10px;
}
#u3909_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3909_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3909_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3910 {
  position:absolute;
  left:165px;
  top:2500px;
  width:10px;
  height:50px;
}
#u3910_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3910_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3910_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3911 {
  position:absolute;
  left:1171px;
  top:2500px;
  width:10px;
  height:50px;
}
#u3911_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3911_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3911_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3912 {
  position:absolute;
  left:169px;
  top:2545px;
  width:1005px;
  height:10px;
}
#u3912_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3912_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3912_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3913 {
  position:absolute;
  left:175px;
  top:2500px;
  width:8px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:24px;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u3915 {
  position:absolute;
  left:191px;
  top:2505px;
  width:105px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u3917 {
  position:absolute;
  left:191px;
  top:2525px;
  width:528px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:20px;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  white-space:nowrap;
}
#u3919 {
  position:absolute;
  left:171px;
  top:2555px;
  width:1005px;
  height:10px;
}
#u3919_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3919_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3919_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3920 {
  position:absolute;
  left:165px;
  top:2560px;
  width:10px;
  height:50px;
}
#u3920_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3920_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3920_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3921 {
  position:absolute;
  left:1171px;
  top:2560px;
  width:10px;
  height:50px;
}
#u3921_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3921_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3921_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3922 {
  position:absolute;
  left:171px;
  top:2605px;
  width:1005px;
  height:10px;
}
#u3922_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3922_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3922_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3923 {
  position:absolute;
  left:173px;
  top:2560px;
  width:13px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3925 {
  position:absolute;
  left:193px;
  top:2565px;
  width:118px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u3927 {
  position:absolute;
  left:193px;
  top:2585px;
  width:170px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u3929 {
  position:absolute;
  left:171px;
  top:2615px;
  width:1005px;
  height:10px;
}
#u3929_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3929_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3929_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3930 {
  position:absolute;
  left:165px;
  top:2620px;
  width:10px;
  height:50px;
}
#u3930_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3930_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3930_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3931 {
  position:absolute;
  left:1171px;
  top:2620px;
  width:10px;
  height:50px;
}
#u3931_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3931_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3931_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3932 {
  position:absolute;
  left:171px;
  top:2665px;
  width:1005px;
  height:10px;
}
#u3932_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3932_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3932_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3933 {
  position:absolute;
  left:173px;
  top:2620px;
  width:12px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3935 {
  position:absolute;
  left:193px;
  top:2625px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3937 {
  position:absolute;
  left:193px;
  top:2645px;
  width:170px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u3939 {
  position:absolute;
  left:171px;
  top:2675px;
  width:1005px;
  height:10px;
}
#u3939_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3939_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3939_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3940 {
  position:absolute;
  left:165px;
  top:2680px;
  width:10px;
  height:50px;
}
#u3940_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3940_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3940_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3941 {
  position:absolute;
  left:1171px;
  top:2680px;
  width:10px;
  height:50px;
}
#u3941_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3941_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3941_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3942 {
  position:absolute;
  left:171px;
  top:2725px;
  width:1005px;
  height:10px;
}
#u3942_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3942_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3942_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3943 {
  position:absolute;
  left:173px;
  top:2680px;
  width:16px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u3945 {
  position:absolute;
  left:193px;
  top:2685px;
  width:118px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u3947 {
  position:absolute;
  left:193px;
  top:2705px;
  width:209px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u3949 {
  position:absolute;
  left:171px;
  top:2735px;
  width:1005px;
  height:10px;
}
#u3949_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3949_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3949_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3950 {
  position:absolute;
  left:165px;
  top:2740px;
  width:10px;
  height:50px;
}
#u3950_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3950_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3950_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3951 {
  position:absolute;
  left:1171px;
  top:2740px;
  width:10px;
  height:50px;
}
#u3951_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3951_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3951_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3952 {
  position:absolute;
  left:171px;
  top:2785px;
  width:1005px;
  height:10px;
}
#u3952_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3952_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3952_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3953 {
  position:absolute;
  left:173px;
  top:2740px;
  width:12px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3955 {
  position:absolute;
  left:193px;
  top:2745px;
  width:79px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3957 {
  position:absolute;
  left:193px;
  top:2765px;
  width:355px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:20px;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  white-space:nowrap;
}
#u3959 {
  position:absolute;
  left:171px;
  top:2795px;
  width:1005px;
  height:10px;
}
#u3959_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3959_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3959_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3960 {
  position:absolute;
  left:165px;
  top:2800px;
  width:10px;
  height:50px;
}
#u3960_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3960_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3960_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3961 {
  position:absolute;
  left:1171px;
  top:2800px;
  width:10px;
  height:50px;
}
#u3961_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3961_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u3961_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u3962 {
  position:absolute;
  left:171px;
  top:2845px;
  width:1005px;
  height:10px;
}
#u3962_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3962_end {
  position:absolute;
  left:988px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3962_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1005px;
  height:1px;
}
#u3963 {
  position:absolute;
  left:173px;
  top:2800px;
  width:12px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF2C00;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u3965 {
  position:absolute;
  left:193px;
  top:2805px;
  width:118px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  line-height:20px;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u3967 {
  position:absolute;
  left:193px;
  top:2825px;
  width:209px;
  height:20px;
  color:#666666;
  line-height:20px;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
